UnitesWebConverterGroup-P14_1205_11181_2/Connected Services/ServiceReferenceLength/Length.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="calculateLength">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="value" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculateLengthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calculateLengthResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="calculateLengthSoapIn">
    <wsdl:part name="parameters" element="tns:calculateLength" />
  </wsdl:message>
  <wsdl:message name="calculateLengthSoapOut">
    <wsdl:part name="parameters" element="tns:calculateLengthResponse" />
  </wsdl:message>
  <wsdl:portType name="ConverterServiceSoap">
    <wsdl:operation name="calculateLength">
      <wsdl:input message="tns:calculateLengthSoapIn" />
      <wsdl:output message="tns:calculateLengthSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConverterServiceSoap" type="tns:ConverterServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="calculateLength">
      <soap:operation soapAction="http://tempuri.org/calculateLength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConverterServiceSoap12" type="tns:ConverterServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="calculateLength">
      <soap12:operation soapAction="http://tempuri.org/calculateLength" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConverterService">
    <wsdl:port name="ConverterServiceSoap" binding="tns:ConverterServiceSoap">
      <soap:address location="http://localhost:61875/Length.asmx" />
    </wsdl:port>
    <wsdl:port name="ConverterServiceSoap12" binding="tns:ConverterServiceSoap12">
      <soap12:address location="http://localhost:61875/Length.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>